{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div>
    <form action="{{url_for('new_item') }}" method="POST">
      <label for"title">Enter item title:</label>
      <input type="text" name="item_title" id="item_title">
      <label for"status">Status:</label>
      <select id="status" name="status">
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
      </select>
      <input type='submit' value="Submit">
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <table>
          <tr>
            <td>Item</td>
            <td>Status</td>
            <td>Item ID</td>
            <td>Actions</td>
          </tr>
          <tr>
            {% for item in items %}
            <td> {{item.name}} </td>
            <td> {{item.status}}</td>
            <td> {{item.id}}</td>
            <td>Move to:</td>
            <td>
              <form action={{url_for('move_to_to_do', item_id=item.id)}} method="POST">
              <button type="move_to_to_do">To Do</button>
              </form>
            </td>
            <td>
              <form action={{url_for('move_to_in_progress', item_id=item.id)}} method="POST">
              <button type="move_to_in_progress">In Progress</button>
              </form>
            </td>
            <td>
              <form action={{url_for('move_to_done', item_id=item.id)}} method="POST">
              <button type="move_to_done">Done</button>
              </form>
            </td>
            <td>
              <form action={{url_for('delete', item_id=item.id)}} method="POST">
              <button type="delete">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </ul>
    </div>
  </div>
{% endblock %}